@use '../variables' as *;

.benefits {
  background-color: $bg-color-tertiary;

  &__title {
    font-size: 50px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    .benefits-item {
      flex-basis: 360px;
      text-align: left;

      &__title {
        font-size: 24px;
        font-weight: 600;
        padding-top: 60px;
      }

      &__text {
        color: $text-color-quaternary;
        padding-top: 20px;
        font-size: 18px;
      }
    }
  }
}
