@use '../variables' as *;

.form-section {
  background-color: $bg-color-accent;
  background-image: url('../assets/images/promo-percentages.png');
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: auto;
  padding: 87px 0px;
  flex-wrap: nowrap;

  .container {
    .form-section__content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 64px;
      margin: 0 60px;

      .form-info {
        color: $text-color-secondary;
        margin-top: 19px;
        line-height: 1.3;
        flex: 1 0 300px;

        &__title {
          font-weight: 600;
          font-size: 36px;
        }

        &__subtitle {
          margin-top: 20px;
          font-weight: 400;
          font-size: 20px;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        flex: 0 1 500px;
        gap: 10px;

        .input {
          background-color: $controls-bg-quaternary;
          border: 1px solid $controls-bg-quaternary;
          padding: 18px;
          border-radius: 5px;
          width: 100%;
          font-size: 18px;
          max-height: 64px;

          &:focus {
            border-color: $controls-bg-secondary;
          }

          &--error {
            border-color: $controls-bg-primary;
          }
        }

        &__button {
          line-height: 1;
        }
      }
    }
  }
}