@use '../variables' as *;

.main {
  flex-grow: 1;
}

.header {
  position: sticky;
  z-index: 1;
  top: 60px;
  background-color: $bg-color-secondary;
  padding: 30px 410px 20px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header-nav__link {
  text-decoration: none;
}

.footer {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  padding: 40px 0;
  background-color: $bg-color-secondary;
  color: $text-color-secondary;
}
