@use '../variables' as *;

.main {
  flex-grow: 1;
}

.header {
  position: sticky;
  top: 60px;
  background-color:  red !important;
  padding: 30px 410px 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  padding: 40px 0;
  background-color: $bg-color-secondary;
  color: $text-color-secondary;
}
