.main {
  flex-grow: 1;
}

.header {
  position: sticky;
  top: 0;
  z-index;
  background-color: bg-color-secondary;
  padding: 30 410 20 20;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  padding: 40 0;
  background-color: bg-color-secondary;
  color: text-color-secondary;
}
